# Игнорирование виртуального окружения
venv/
env/

# Игнорирование скомпилированных Python файлов
*.pyc
__pycache__/

# Игнорирование файлов баз данных
db.sqlite3

# Игнорирование настроек
*.env

# Игнорирование статических файлов
/staticfiles/
/media/

# Игнорирование файлов IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Игнорирование логов
*.log
