# Исключение виртуального окружения
venv/
env/

# Исключение файлов кеша Python
__pycache__/
*.py[cod]

# Исключение файлов базы данных SQLite
db.sqlite3

# Исключение файлов настроек вашей среды разработки
.vscode/
.idea/

# Исключение статических файлов, если они собираются автоматически
/static/

# Исключение файлов миграций (опционально)
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py
